body {
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;

	background-color: #eee;
	position: relative;

	background-image: url('img/bcg.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

.headline:hover {
	transform: scaleX(1.5);
	transition: all 0.8 ease;
}
.blg {
	height: 100px;
	width: 100px;
	position: absolute;
	top: 403px;
	left: 443px;
	border-radius: 20px;
	margin-bottom: 30px;
}

img {
	opacity: 0.5;
}

.heading {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: whitesmoke;
}

.reg-form {
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	box-shadow: 0 10px 10px black;
	margin-top: 50px;

	/* border: 2px solid */
	background-color: gray;
}

.login-form {
	margin-top: 15px;
	outline: none;
	background: transparent;
}
.reg-form > * {
	width: 100%;
}

.reg-form > *:not(:last-child) {
	margin-bottom: 10px;
}

.registration-form > input {
	height: 25px;
	font-size: 16px;
	text-indent: 10px;
}

.registration-form > .reg-btn {
	border: none;
	padding-top: 10px;
	padding-bottom: 25px;
	font-size: 16px;
	text-transform: uppercase;
	background-color: #888;
	color: #fff;
}

.back-link {
	font-size: 30px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: blue;
}
